@import 'website.variables';
h1.headline {
  font-family: 'Lato', sans-serif;
  font-size: 45px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.accent {
  font-weight: 750;
  color: $accentColor;
}
@media only screen and (min-width: 900px) {
  .center-left {
    flex: 7;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .center-right {
    flex: 4;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    perspective: 600px;
  }

  @keyframes rotateY {
    
    25% {
      transform: rotateY(-50deg);
    }
    
    75% {
      transform: rotateY(50deg);
    }
  }

  .center-right>.rotate-animation {
    animation: rotateY 15s linear 0.3s forwards infinite;
    // transform: rotateY(-50deg);
  }
}

@media only screen and (max-width: 901px) {
  .center-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .center-right {
    display: none;
  }
}


//call to action
.call-to-action {
  background-color: $accentColor;
  padding: 15px 30px;
  border: 0;
  border-radius: 0.4em;
  color: #fff;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: 400;
  transition: opacity 0.3s;
  cursor: pointer;
}
.call-to-action:hover {
  opacity: 0.7;
}