@import '../website.variables';
.header {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  .rect {
    min-height: calc(#{$headerHeight} - #{$triangleHeight});
    max-height: auto;
    overflow-x: hidden;
    background: $headerColor;
    display: flex;
   }
  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100vw $triangleHeight 0;
    border-color: transparent $headerColor transparent transparent;
  }
}