$headerColor: rgb(239, 103, 11);
$triangleHeight: 50px;
.header {
  width: 100vw;
  min-height: auto;
  max-height: calc(100vh - 100px);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  .rect {
    overflow-y: hidden;
    background: $headerColor;
  }
  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100vw $triangleHeight 0;
    border-color: transparent $headerColor transparent transparent;
  }
}