<div 
  *ngIf="!isPlain"
  class="card {{cardClass}}"
  [style.left]="getLeft()"
  [style.top]="getTop()"
  [style.transform]="getAngle()"
  [style.zIndex]="index"
  (click)="playCard()">
  <span class="card-content" *ngIf="!isHidden">
    <div class="card-name card-name-pos card-name-pos-top" >{{name | uppercase}}</div>
    <div class="card-name card-name-pos card-name-pos-bottom">{{name | uppercase}}</div>
    <img [src]="imageSource" [alt]="name" [class]="imageClass" />
  </span>
</div>

<div 
  *ngIf="isPlain"
  class="card card-plain"
  [style.left]="getLeft()"
  [style.top]="getTop()"
  [style.transform]="getAngle()"
  [style.zIndex]="index"
  (click)="playCard()">
  <div class="card-name card-name-pos card-name-pos-top-left card-suit">
    {{value | uppercase}}
    <img class="symbol-hearts" [src]="imageSource" />
  </div>
  <div class="card-name card-name-pos card-name-pos-bottom-right card-suit">
    {{value | uppercase}}
    <img class="symbol-hearts" [src]="imageSource" />
  </div>
  <img [src]="imageSource" alt="{{suit}} of {{value}}" class="img-ace-hearts" />
</div>