.card {
  position: relative;
  width: 140px;
  height: 220px;
  background: #F8F8FB;
  border: solid 2px #4F4C4C;
  border-radius: 14px;
  padding: 8px;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
}

.card-plain {
  background-image: url("../../../assets/plain-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.card-black-god {
  background-image: url("../../../assets/black-god-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.card-red-god {
  background-image: url("../../../assets/red-god-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.img-black-god {
  position: absolute;
  width: 90%;
  height: auto;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 22%;
}

.img-red-god {
  position: absolute;
  width: 90%;
  height: auto;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 22%;
}

.img-hearts {
  position: absolute;
  width: 80%;
  height: auto;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 27%;
}

.img-diamonds {
  position: absolute;
  width: 85%;
  height: auto;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 27%;
}

.card-name img.symbol-hearts {
  width: 15px;
  height: 15px;
  display: block;
}

.card-name img.symbol-diamonds {
  width: 20px;
  height: 20px;
  display: block;
}

.card-name {
  font-family: 'Sedgwick Ave', cursive;
  font-size: 16px;
  font-weight: bold;
  line-height: 120%;
  color: #4E4444;
}

.card-name-pos {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.card-name-pos-top {
  top: 15px;
}

.card-name-pos-bottom {
  bottom: 15px;
}

.card-name-pos-top-left {
  top: 15px;
  left: 15px;
  right: auto;
}

.card-name-pos-top-right {
  top: 15px;
  left: auto;
  right: 15px;
}

.card-name-pos-bottom-left {
  bottom: 15px;
  left: 15px;
  right: auto;
  transform: rotateZ(180deg);
}

.card-name-pos-bottom-right {
  bottom: 15px;
  left: auto;
  right: 15px;
  transform: rotateZ(180deg);
}
