.oval {
  width: 1020px;
  height: 650px;
  position: relative;
  margin: 0 auto;
  border: solid 14px #564266;
  border-radius: 35%;
  background: radial-gradient(ellipse at center, #a4b357 0%,#75890c 100%);
  top: 10vh;
}